.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    max-width: 400px;
    margin: 0,5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: -10px;
    margin-bottom: -10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 1px;
}

.agendamento-inputs {
    display: flex;
    flex-direction: column;
}

.agendamento-inputs label,
.agendamento-inputs input[type="radio"] {
    display: inline;
}

input[type="text"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 0px auto;
    margin-bottom: 0px auto;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .agendamento-inputs label,
    .agendamento-inputs input[type="radio"] {
        display: block;
    }
}